@import "../variables";

$normalCodeEditorPadding: $smallSpacing;

.react-codemirror2 {
  .CodeMirror {
    font-family: inherit;
    border: none;
    outline: none;
    box-shadow: inputShadow($primary);
    transition: box-shadow .2s;
    padding: $normalCodeEditorPadding;
    &:focus {
      box-shadow: inputFocusShadow($primary);
    }
    &::-webkit-calendar-picker-indicator {
      display: none; // I removed arrow for input as it can be misinterpreted as select
    }
  }
}
